[Desktop Entry]
Name=Edit Source Protocol Handler
GenericName=Edit Source Protocol Handler
Comment=Enables links to edit files from the browser
Icon=document-edit
TryExec=~/.local/bin/edit-source-url
Exec=~/.local/bin/edit-source-url %u
Terminal=false
Type=Application
Categories=Accessories
MimeType=x-scheme-handler/edit-source
NoDisplay=true
